h1{
    text-align: center;font-family: Brush Script MT;color:cyan; display:flex;background-color: darkgray;
    align-items: center;justify-content: center;
}

.container{
    background-color: #EF0235;
    border-style: solid;
    justify-content: space-between;
}

.grid{
    background-color: #f00101;
    padding: 20px;
    border-style: dotted;
    justify-content: space-between;
}

a:link{color:blue;}
a:visited{color: brown;}

h1:hover{background-color: cyan;}
.grid:hover{background-color: darkgoldenrod;}
img{opacity:1}
img:hover{opacity:0}